

<div class="container">
  <form autocomplete="off" #usuarioForm2="ngForm"
      (ngSubmit)="salvar(usuarioForm2)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="true"
          [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição {{ descricao.errors | json }}</label>
        <input pInputText type="text" name="descricao"
          ngModel #descricao="ngModel" required minlength="5">

        <div *ngIf="descricao.hasError('required') && descricao.dirty"
          class="ui-messages ui-messages-error">
          Informe uma descrição
        </div>
        <div *ngIf="descricao.hasError('minlength') && descricao.dirty"
          class="ui-messages ui-messages-error">
          Mínimo de {{ descricao.errors.minlength.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors.minlength.actualLength }}
        </div>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição 2 com message</label>
        <input pInputText type="text" name="descricao2"
          ngModel #descricao2="ngModel" required minlength="5">

        <app-message [control]="descricao2" error="required"
          text="Informe a descrição"></app-message>
        <app-message [control]="descricao2" error="minlength"
          text="Mínimo de {{ descricao2.errors?.minlength?.requiredLength }} caracteres"></app-message>

        </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" currencyMask
          [options]="{ prefix: '€', thousands: '.', decimal: ',', allowNegative: false }"
          name="valor" ngModel>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99/99/9999"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria {{ categoria.value }}</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"
          [autoWidth]="false" #categoria></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione"
          [autoWidth]="false" [filter]="true" #pessoa></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!usuarioForm2.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>



<!--
<div class="container">

  {{ cliente | json }}

  <div *ngIf="usuarioForm.invalid && usuarioForm.dirty"
      class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>

  <form autocomplete="off" #usuarioForm="ngForm"
      (ngSubmit)="salvar(usuarioForm)">

      <div class="ui-g">
    <div class="ui-g-6 ui-fluid"
        [class.has-danger]="nome.invalid && nome.touched">
      <label class="form-control-label">Nome</label>
      <input pInputText type="text" class="form-control" name="primeiroNome"
        [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel">

      <div *ngIf="nome.hasError('required') && nome.touched"
        class="form-control-feedback">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.touched"
        class="form-control-feedback">O nome deve ser completo</div>
    </div>

    <div class="ui-g-7 ui-fluid"
        [class.has-danger]="email.invalid && email.touched">
      <label class="form-control-label">E-mail</label>
      <input pInputText type="text" class="form-control" name="emailAddress"
        [(ngModel)]="cliente.email" email #email="ngModel">

      <div *ngIf="email.invalid && email.touched"
        class="form-control-feedback">Informe um e-mail válido</div>
    </div>

    <div class="ui-g-6 ui-fluid"
        [class.has-danger]="profissao.invalid && profissao.touched">
      <label class="form-control-label">Profissão</label>
      <p-dropdown class="form-control" name="profissao"
          [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes"
          [value]="profissao">{{ profissao }}</option>
      </p-dropdown>
      <p-dropdown [options]="profissoes" placeholder="Selecione"
          [autoWidth]="false" #profissao></p-dropdown>

      <div *ngIf="profissao.invalid && profissao.touched"
        class="form-control-feedback">Informe uma profissão</div>
    </div>

    <div class="ui-g-12">
    <button pButton type="submit"
      [disabled]="!usuarioForm.valid">Salvar</button>
     </div>

      </div>
    </form>

</div>

-->

